@charset "utf-8";
/* CSS Document */
@import 'https://fonts.googleapis.com/css?family=Montserrat:400,700';
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500,700);
@font-face {
    font-family: oduda;
    src: url(../fonts/ODUDA-BOLD-DEMO.OTF);
	font-weight:700;}
@font-face {
    font-family: segoe;
    src: url(../fonts/SEGOEUI_0.TTF);}
@font-face {
    font-family: segoe;
    src: url(../fonts/SEGOEUIL.TTF);
	font-weight:300;}
@font-face {
    font-family: segoe;
    src: url(../fonts/SEGUISB.TTF);
	font-weight:600;}
@font-face {
    font-family: segoe;
    src: url(../fonts/SEGOEUIB.TTF);
	font-weight:700;}
	
*{
	margin:0;
	padding:0;
	box-sizing:border-box;
	color:#4b4c4d;
	font-family:segoe;
	outline:none !important;}
.col-centered {
	margin:auto;
	float:none !important;}
.text-centered {
	text-align:center;}
.blue-bg{
	background:#3b5998 !important;}
.red-bg{
	background:#d34836 !important;}
.sky-bg{
	background:#0077b5 !important;}
.wrapper{
	width:1240px;
	margin:auto;
	padding:0 15px;}
.head-top{
	width:100%;
	border-bottom:1px solid #a1a1a1;
	box-shadow:0 1px 0 #e0e0e0;
	padding:10px 0;}
.logo{
	width:100%;}
.logo img{
	height:52px;}
.search-frm{
	width:100%;
	margin-top:10px;}
.search-frm input[type="search"]{
	width:calc(100% - 25px);
	height:25px;
	border:none;
	font-size:22px;
	padding:0 0 0 2px;
	color:#009cef;
	font-family:oduda;}
.search-frm input[type="search"]::-webkit-input-placeholder{
	color:#009cef;
	opacity:1;}
.search-frm input[type="search"]::-moz-placeholder {
	color:#009cef;
	opacity:1;}
.search-frm input[type="search"]:-ms-input-placeholder{
	color:#009cef;
	opacity:1;}
.search-frm button{
	width:20px;
	height:25px;
	float:right;
	background:none;
	border:none;
	font-size:18px;}
.search-frm button i{
	color:#009cef;}
.frm-brdr{
	width:100%;
	height:5px;
	border-radius:5px;
	background:#009cef}
.head-top ul{
	float:right;
	margin:0;}
.head-top ul li{
	display:inline;}
.head-top ul li a{
	float:left;
	font-size:24px;
	font-family:oduda;
	font-weight:700;
	margin:0 7px;
	padding:10px 8px;
	color:#525252;
	text-decoration:none !important;}
.selling-btn{
	color:#fff !important;
	font-size:19px !important;
	background:#6aa326;
	border-radius:5px;
	border-bottom:2px solid #4b731a;}
.menu .navbar{
	margin:0;}
.menu .navbar-toggle{
	font-size:24px;
	color:#555;
	padding:0;}
.menu ul li a{
	font-size:13px;
	color:#7f7f7f;
	font-weight:700;
	font-family:segoe;
	padding:10px 15px;
	background:none !important;
	transition:.5s;}
.menu ul li a:hover{
	color:#4b4b4b;}
.banner{
	width:100%;
	position:relative;
	background:#4a90e2;
	padding-top:35px;}
.banner .banner-content{
	width:620px;
	max-width:95%;
	float:left;
	margin-top:3vw;}
.banner .banner-content h2{
	font-size:75px;
	font-family:montserrat;
	color:#fff;
	text-align:left;
	margin:0;
	margin-bottom:20px;}
.banner .banner-content p{
	font-size:28px;
	color:#fff;
	font-weight:500;
	text-align:left;
	margin:0;
	margin-bottom:40px;}
.banner-img{
	width:400px;
	height:460px;
	float:right;
	margin-bottom:-50px;
	z-index:99;}
.grn-btn{
	width:120px;
	float:left;}
.grn-btn a{
	width:100%;
	line-height:40px;
	font-family:oduda;
	font-size:20px;
	color:#fff !important;
	text-decoration:none !important;
	font-weight:700;
	float:left;
	background:#6aa326;
	text-align:center;
	border-bottom:2px solid #4c7408;
	border-radius:5px;}
.banner-images{
	width:700px;
	max-width:100%;
	position:relative;
	margin:auto;
	margin-top:-15%;}
.ban-img{
	width:20%;
	padding:0 15px;
	float:left;
	text-align:center;}
.ban-img img{
	max-width:100%;}
.feedback{
	width:100%;
	max-width:1100px;
	margin:auto;
	padding:90px 0 30px 0;}
.feedback h3{
	font-size:22px;
	line-height:36px;
	font-family:oduda;
	color:#152d58;
	margin:0;
	margin-bottom:10px;}
.feedback h3 span{
	width:40px;
	height:40px;
	font-size:18px;
	font-family:oduda;
	font-weight:700;
	line-height:36px;
	text-align:center;
	float:left;
	color:#e69e2b;
	border-radius:100%;
	margin-right:10px;
	border:2px solid #e69e2b}
.feedback h3 img{
	height:22px;
	margin-right:5px;}
.feedback p{
	font-size:13px;
	color:#727272;
	margin-bottom:20px;}
.featured-services{
	width:100%;
	padding:40px 0 70px 0;}
.featured-services h3{
	font-size:44px;
	text-align:center;
	color:#666666;
	font-family:oduda;
	margin:0;
	margin-bottom:20px;}
.sponsored-top{
	width:100%;
	height:400px;
	position:relative;
	margin-bottom:-1px}
.sponsored-btm{
	width:100%;
	overflow:hidden;}
.content-slide{
	width:100%;}
.content-slide > ul > li{
	padding:30px;}
.spon-ban{
	width:100%;
	height:100%;
	overflow:hidden;
	position:relative;}
.spon-ban img{
	min-width:100%;
	max-height:100%;
	position:absolute;
	top:0;
	left:0;}
.spon-content{
	position:absolute;
	top:30%;
	right:10%;}
.spon-content h3{
	font-family:oduda;
	font-size:46px;
	color:#fff;
	margin:0;}
.spon-content p{
	font-size:24px;
	color:#fff;
	font-weight:300;
	margin:0;}
.sponsored-btm{
	width:100%;
	background:#3f82dd;
	padding-bottom:70px}
.spon-cntnt{
	width:90%;
	margin:auto;
	background:#fff;}
.spon-img{
	width:100%;
	height:140px;
	overflow:hidden;
	margin-bottom:5px;}
.spon-img img{ 
	width:100% !important;}
.spon-cnt{
	padding:5px 10px;}
.spon-cntnt h3{
	height:70px;
	font-size:21px;
	font-family:oduda;
	text-align:left;
	margin:0;
	padding:0;
	color:#4e4e4e;}
.spon-rate{
	width:100%;
	background:#e64650;
	padding:10px 10px;
	margin-bottom:10px;}
.spon-rate p{
	float:left;
	margin:0;
	font-size:18px;
	font-family:oduda;
	color:#fff;
	padding-top:5px;}
.spon-rate ul{
	padding:0;
	float:right;
	text-align:right;}
.spon-rate ul li{
	display:inline-block;
	float:none;
	padding:0;}
.spon-cntnt h4{
	height:40px;
	margin:0;
	padding:0;}
.spon-cntnt h4 i{
	float:left;}
.spon-cntnt h4 span{
	float:right;
	color:#479508;
	font-family:oduda;
	font-size:16px;}
	
.featured{
	width:100%;
	height:300px;
	border:2px solid #428ce1;
	border-radius:3px;
	transition:.5s;
	margin:auto;
	margin-top:30px;}
.featured:hover{
	border:2px solid #07b10b;
	transform:translateY(-15px);}
.carousel-inner > .item {
    -webkit-transition: 2s ease-in-out left;
    -moz-transition: 2s ease-in-out left;
    -o-transition: 2s ease-in-out left;
    transition: 2s ease-in-out left;}
.feat-img{
	width:100%;
	height:140px;
	margin-bottom:5px;}
.feat-content{
	padding:5px 10px;}
.featured h3{
	height:70px;
	font-size:21px;
	font-family:oduda;
	text-align:left;
	margin:0;
	padding:0;
	color:#4e4e4e;}
.featured ul{
	width:100%;
	padding:0;
	text-align:right;}
.featured ul li{
	display:inline;}
.featured h4{
	height:40px;
	margin:0;
	padding:0;}
.featured h4 i{
	float:left;}
.featured h4 span{
	float:right;
	color:#479508;
	font-family:oduda;
	font-size:16px;}
.selling-service{
	width:100%;
	height:350px;
	background: #4291e3 url(../images/footer-bg2.jpg) no-repeat center bottom;
	background-size:cover;
	padding:40px 0 0 0;}
.selling-service h3{
	font-size:35px;
	color:#fff;
	font-family:oduda;
	text-align:center;
	margin:0;
	margin-top:30px;
	margin-bottom:10px}
.selling-service p{
	font-size:16px;
	font-weight:400;
	color:#fff;
	text-align:center;
	margin-bottom:20px}
.blk-selling{
	background:#333c46 url(../images/footer-bg.jpg) no-repeat center bottom;
	background-size:cover;}
.selling-img{
	width:50%;
	float:left;
	text-align:center;}
.selling-img img{
	max-width:95%;
	max-height:140px;}
.selling-link{
	width:230px;
	margin:auto;
	text-align:center;
	margin-bottom:30px;}
.selling-link a{
	width:100%;
	line-height:40px;
	font-size:18px;
	float:left;
	background:#04a71d;
	border-radius:3px;
	color:#fff !important;
	text-decoration:none !important;}

.footer{
	width:100%;
	background:#286fbe;
	padding:40px 0;}
.foot-logo{
	text-align:center;}
.footer h3{
	font-family:oduda;
	font-size:24px;
	color:#1a497d;
	padding-top:0px;}
.footer ul li{
	display:block;}
.footer ul li a{
	width:100%;
	font-size:15px;
	float:left;
	color:#fff;
	font-weight:300;
	margin:5px 0;}
.footer-btm{
	background:#19487d;
	padding:20px 0;}
.footer-btm p{
	font-size:14px;
	color:#fff;
	line-height:40px;
	margin:0;}
.footer-btm ul{
	margin:0;
	padding:0;
	text-align:right;}
.footer-btm ul li{
	display:inline-block;}
.footer-btm ul li a{
	width:40px;
	line-height:40px;
	float:left;
	margin-right:10px;}
.footer-btm ul li a img{
	width:100%;
	height:100%;}

/*Popup*/
.login-pop{
	margin:20px 0;
	background:#fff;}
.log-cntnt{
	width:100%;
	background:#4264aa;
	padding:3vw;}
.log-cntnt h3{
	font-size:24px;
	font-family:montserrat;
	color:#fff;
	margin:20px 0;}
.log-cntnt p{
	font-size:19px;
	font-family:segoe;
	color:#fff;
	margin-bottom:100px;}
.log-cntnt button.close{
	display:none;}
.login-img{
	width:100%;}
.login-img img{
	max-width:100%;}
.log-frm{
	width:100%;
	background:#fff;
	padding:3vw;}
.log-frm form{
	margin-top:30px;}
.log-inp{
	width:100%;
	margin-bottom:20px;
	border-bottom:2px solid #4264aa;}
.log-inp input{
	width:100%;
	height:35px;
	font-size:19px;
	font-family:segoe;
	color:#666;
	border:none;}
.log-inp label{
    color:#212121;
    position:absolute;
    font-size:19px;
    font-weight:400;
    transition: all .2s;
	color:#777}
.log-inp label.active{
    transform:translateY(-100%);
    font-size:14px;}
.log-inp-pass{
	width:calc(100% - 100px);
	float:left;}
.log-inp a{
	width:100px;
	line-height:35px;
	font-size:17px;
	font-family:montserrat;
	color:#4264aa !important;
	text-decoration:none !important;
	float:left;
	text-align:right;}
.log-btns{
	width:100%;
	margin-top:10px;}
.log-btns input{
	width:100%;
	height:35px;
	line-height:35px;
	font-size:12px;
	font-family:montserrat;
	background:#51ac20;
	color:#fff;
	border-radius:5px;
	border:none;
	margin-bottom:10px;}
.log-btns a{
	width:100%;
	height:35px;
	line-height:35px;
	float:left;
	text-align:center;
	font-size:12px;
	font-family:montserrat;
	background:#4264aa;
	color:#fff !important;
	text-decoration:none !important;
	border-radius:5px;
	border:none;
	margin-bottom:10px;}
.or-divider{
	width:100%;
	margin-top:0px;}
.or-divider h3{
	width:50px;
	line-height:50px;
	font-size:24px;
	text-align:center;
	margin:auto;
	background:#fff;
	color:#8d8d8d;
	position:relative;}
.or-divider .brdr{
	width:100%;
	height:2px;
	background:#959595;
	margin-top:-22px;}
.log-social{
	width:100%;
	margin-top:40px;
	margin-bottom:10px;}
.log-social a{
	width:31.33%;
	text-align:center;
	float:left;
	margin:0 1%;
	border-radius:7px;
	background:#3b5998;
	border-bottom:2px solid rgba(0,0,0,.2)}
.log-social a i{
	color:#fff;
	line-height:40px;
	font-size:25px;
	text-align:center;}
footer .modal{
	overflow-y:auto !important;
	padding-left:0 !important;}
.capcha{
	height:100px;}
.capcha img{
	max-width:100%;}